@keyframes text-shake {
  0% {
    translate: 0rem;
  }
  25% {
    translate: 1rem;
  }
  50% {
    translate: 0rem;
  }
  75% {
    translate: 1rem;
  }
  100% {
    translate: 0rem;
  }
}

@keyframes icon-shake {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 25% 0;
  }
  100% {
    translate: 0 0;
  }
}