* {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-style: normal;
}

a, button {
  display: inline-flex;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

summary::-webkit-details-marker {
  display: none;
}
input[type="search"] {
  appearance: none;
  &::-webkit-search-cancel-button {
    display: none;
  }
}